* {
    font-family: "JetBrainsMono Nerd Font", sans-serif;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    transition: 20ms;
}

window {
    background-color: rgba(30, 30, 46, 0.8);
}

button {
    color: #cdd6f4;
    background-color: #313244;
    border: 2px solid #89b4fa;
    border-radius: 20px;
    margin: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
}

button:focus,
button:active,
button:hover {
    background-color: #45475a;
    outline: none;
}

#lock { background-image: url("/usr/share/wlogout/icons/lock.png"); }
#logout { background-image: url("/usr/share/wlogout/icons/logout.png"); }
#suspend { background-image: url("/usr/share/wlogout/icons/suspend.png"); }
#hibernate { background-image: url("/usr/share/wlogout/icons/hibernate.png"); }
#shutdown { background-image: url("/usr/share/wlogout/icons/shutdown.png"); }
#reboot { background-image: url("/usr/share/wlogout/icons/reboot.png"); }
